{% extends "base.html" %}


{% block content %}
<div class="container">
    <h1>{{ company.name }}</h1>
    <p>Added:  {{ company.date_created | date:"M, Y" }}</p>
    
    {% if founders %}
    <hr>
    <h4>Team</h4>
    <ul>
        {% for founder in founders %}
            <li>{{ founder.name }} - {{ founder.title }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if company.website %}
    <hr>
    <h4>Website</h4>
    <p><a href="{{ company.website }}">{{ company.website }}</a></p>
    {% endif %}
    {% if company.email_address %}
    <p>Contact: <a href="mailto:{{ company.email_address }}">{{ company.email_address }}</a></p>
    {% endif %}
    
    <hr>
    <h4>{{ current_stage.stage.title }}</h4>

    <ul>
        {% for stage in stages %}
            <li>{{ stage.stage }} - Reported on: {{stage.date_updated }}</li>
        {% endfor %}
    </ul>
    <p>{{ company.stage.description }}</p>

    </div>


{% endblock %}